<table>
    <tr>
    <th>Rank</th>
    {% for recomm in recomm_list %}
    <td>{{ forloop.counter }}</td>
    {% endfor %}
    </tr>
    <tr>
    <th>Title</th>
    {% for recomm in recomm_list %}
    <td>{{ recomm.movie.title }}</td>
    {% endfor %}
    <tr>
    <tr>
    <th>Description</th>
    {% for recomm in recomm_list %}
    <td>{{ recomm.movie.text }}</td>
    {% endfor %}
    <tr>
    <tr>
    <th>Score</th>
    {% for recomm in recomm_list %}
    <td>{{ recomm.score }}</td>
    {% endfor %}
    <tr>
</table>
