<div class="pagination">
	<span class="step-links">
		<table>
			<tr>
			<th>Id</th>
			{% for viewed in viewed_page %}
			<td>{{ viewed.movie.id }}</td>
			{% endfor %}
			</tr>
			<tr>
			<th>Title</th>
			{% for viewed in viewed_page %}
			<td>{{ viewed.movie.title }}</td>
			{% endfor %}
			</tr>
			<tr>
			<th>Description</th>
			{% for viewed in viewed_page %}
			<td>{{ viewed.movie.text }}</td>
			{% endfor %}
			</tr>
			<tr>
			<th>Rating</th>
			{% for viewed in viewed_page %}
			<td>{{ viewed.rating }}</td>
			{% endfor %}
			</tr>
		</table>

		{% if viewed_page.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ viewed_page.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ viewed_page.number }} of {{ viewed_page.paginator.num_pages }}.
		</span>

		{% if viewed_page.has_next %}
		<a href="?page={{ viewed_page.next_page_number }}">next</a>
		<a href="?page={{ viewed_page.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	</span>
</div>
